.close {
    background: transparent;
    border: none;
    height: 24px;
}
.close:not([disabled]):hover {
    background: linear-gradient(lightpink, plum, lightpink)!important;
    cursor: pointer;
    transform: scale(1.4);
    z-index: 8;
}
.fa-remove {
    color: red;
}