<router-outlet></router-outlet>

<div class="container col-md-8 my-2" fxLayout="column" fxLayoutGap="10px">
    <!-- <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
        <div fxLayoutAlign="start center">
            <mat-form-field>
                <input matInput class="search-input" type="text" [(ngModel)]="ticket.name" />
                <button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Search Ticket" matTooltipPosition="before" (click)="findTicketByCode()">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div>
            {{ticket.summary}}
        </div>
    </div>
-->
    <div class="ticket-name">
        {{ticket.name}}
    </div>

    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
        <div *ngFor="let state of states; let i = index" class="state-card" fxLayout="row" fxLayoutAlign="center center">
            <mat-card [class.current-state]="ticket.status && state.stateName == ticket.status.stateName">
                <mat-card-header>
                    <div *ngIf="i == 0">
                        <div class="state-created-by">
                            Created by {{ticket.createdBy.firstName}} {{ticket.createdBy.lastName}}
                        </div>
                        <div class="state-created-on">
                            {{ticket.creationDate | amTimeAgo}}
                        </div>
                    </div>
                    <div *ngIf="i == 1">
                        <div class="state-created-by">
                            {{ticket.assignedTo.firstName}} {{ticket.assignedTo.lastName}}
                        </div>
                        <div class="state-created-on">
                            {{ticket.assignedOn | amTimeAgo}}
                        </div>
                        <div class="state-created-by" *ngIf="ticket.assignedBy">
                            by {{ticket.assignedBy.firstName}} {{ticket.assignedBy.lastName}}
                        </div>
                    </div>
                    <div *ngIf="i == states.length - 1 && ticket.closedBy != null">
                            <div class="state-created-by">
                                {{ticket.closedBy.firstName}} {{ticket.closedBy.lastName}}
                            </div>
                            <div class="state-created-on">
                                {{ticket.closedOn | amTimeAgo}}
                            </div>
                        </div>
                </mat-card-header>
                <mat-card-content>
                    <div class="state-name">
                        {{state.stateName}}
                    </div>
                </mat-card-content>
                <mat-card-actions></mat-card-actions>
            </mat-card>
            <div fxlayout="column" fxLayoutAlign="center">
                <div *ngIf=" i < states.length - 1">
                    <button (click)="promote()" [disabled]="ticket.assignedTo.userid != userid">
                        <i class="fa fa-arrow-right"></i>
                    </button>
                </div>
                <div *ngIf=" i < states.length - 2">
                    <button (click)="demote()" [disabled]="ticket.createdBy.userid != userid && ticket.assignedTo.userid != userid">
                        <i class="fa fa-arrow-left"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div fxLayout="row" fxLayoutGap="20px">
        <div style="width:50%">
            <strong>Product:</strong>
            {{ticket.product}}
        </div>
        <div style="width:50%">
            <strong>Module:</strong>
            {{ticket.module}}
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="error-description">
        <app-read-more [text]="ticket.description"></app-read-more>
    </div>
    <mat-divider></mat-divider>

    <div fxLayout="row">
        <div fxLayout="column" fxLayoutAlign="end" fxLayoutGap="10px">
            <div fxLayoutAlign="start" class="ticket-attachment" fxLayoutGap="5px">
                <button matTooltip="Upload File" class="ticket-attachment-button" fxLayoutAlign="end">
                    <label for="file-input-ticket" class="file-input">
                        <i class="fa fa-upload"></i>
                    </label>
                    <input id="file-input-ticket" type="file" (change)="selectFileForTicket($event)" hidden>
                </button>
                <strong>Attachments</strong>
            </div>
            <div fxLayout="column" fxLayoutGap="5px">
                <div *ngFor="let file of ticket.files" fxLayout="row" fxLayoutGap="5px">
                    <div>
                        <a href="#" (click)="!!download(file)" oncontextmenu="return false">{{ file.filename }}</a>
                    </div>
                    <div>
                        <small>({{ rolaguruUtils.formatBytes(file.size) }})</small>
                    </div>
                    <div>
                        <i class="fa fa-remove" matTooltip="Delete" (click)="delete(file)" style="color:red" matTooltipPosition="after"></i>
                    </div>
                </div>
            </div>
            <div *ngIf="currentFileUpload" class="progress">
                <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
                    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
                    {{ progress.percentage }}%
                </div>
            </div>
        </div>
    </div>

    <!-- 
    <mat-divider></mat-divider>
    <div matTooltip="{{overallRatingTooltip}}" matTooltipPosition="before">
        Overall Rating :
        <a *ngFor="let star of overallRatingStar.split(''); let i=index">
            <i class="fa" [ngClass]="{'fa-star':(star==2),'fa-star-half-o':(star==1),'fa-star-o':(star==0)}"></i>
        </a>
    </div>


    <div matTooltip="{{myRatingTooltip}}" matTooltipPosition="left">
        My Rating :
        <a *ngFor="let star of ('1'.repeat(myRating.rating)+'0'.repeat(5-myRating.rating)).split(''); let i=index" (click)="rate(i, myRating, ticket)">
            <i class="fa" [ngClass]="{'fa-star':(star==1),'fa-star-o':(star==0)}"></i>
        </a>
    </div>
    -->
</div>

<list-comment [ticketId]="ticketId"></list-comment>