<div class="container col-lg-12">

</div>

<mat-tab-group class="mat-elevation-z2">
    <mat-tab label="Dashboard">
        <ng-template matTabContent>
            <priority-report></priority-report>
        </ng-template>

    </mat-tab>
    <mat-tab label="All Tickets">
        <ng-template matTabContent>
            <all-tickets></all-tickets>
        </ng-template>
    </mat-tab>
    <mat-tab label="My Subscribed Tickets">
        <ng-template matTabContent>
            <subscribed-tickets></subscribed-tickets>
        </ng-template>
    </mat-tab>
    <mat-tab label="My Reported Tickets">
        <ng-template matTabContent>
            <my-reported-tickets></my-reported-tickets>
        </ng-template>
    </mat-tab>
    <mat-tab label="My Assigned Tickets">
        <ng-template matTabContent>
            <my-assigned-tickets></my-assigned-tickets>
        </ng-template>
    </mat-tab>
    <mat-tab label="Recent Tickets">
        <ng-template matTabContent>
            <recent-tickets></recent-tickets>
        </ng-template>
    </mat-tab>
    <mat-tab label="Priority Tickets">
        <ng-template matTabContent>
            <priority-tickets></priority-tickets>
        </ng-template>
    </mat-tab>
    <mat-tab label="My Team Tickets">
        <ng-template matTabContent>
            <my-team-tickets></my-team-tickets>
        </ng-template>
    </mat-tab>
    <mat-tab label="FAQ">
        <ng-template matTabContent>
            <list-faqs></list-faqs>
        </ng-template>
    </mat-tab>
</mat-tab-group>