<div class="container col-lg-12">

</div>

<mat-tab-group class="mat-elevation-z2">
    <mat-tab label="Dashboard">
        <priority-report></priority-report>
    </mat-tab>
    <mat-tab label="All Tickets">
        <all-tickets></all-tickets>
    </mat-tab>
    <mat-tab label="My Subscribed Tickets">
        <subscribed-tickets></subscribed-tickets>
    </mat-tab>
    <mat-tab label="My Tickets">
        <my-tickets></my-tickets>
    </mat-tab>
    <mat-tab label="My Assigned Tickets">
        <my-assigned-tickets></my-assigned-tickets>
    </mat-tab>
    <mat-tab label="Recent Tickets">
        <recent-tickets></recent-tickets>
    </mat-tab>
    <mat-tab label="Priority Tickets">
        <priority-tickets></priority-tickets>
    </mat-tab>
    <mat-tab label="My Group Tickets">
        <all-tickets></all-tickets>
    </mat-tab>
</mat-tab-group>