.login-text{
    color: purple;
    font-size: 16px;
    font-weight: 600;
}
.rolaface-copyright{
    color: coral;
    font-size: 12px;
    font-weight: 700;
    position: fixed;
    bottom: 10px;
    right: 15px;
}